<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      <% end %>
      <h2>Upload Products & Join the Community</h2>
      <p>Sign up for completely free! We don't spam any of your media accounts!</p>
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>






