<%= bootstrap_form_for(@link) do |f| %>

  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- EMBEDLY INTEGRATION -->

      <input id="url" type="text" name="url" class="form-control insert-url" placeholder="Enter Product URL" autofocus />

      <a class="btn btn-primary attach">Go Fetch!</a>
   
      <!-- Placeholder that tells Preview where to put the selector-->
      <div class="selector-wrapper"></div>

  <!-- END OF EMBEDLY -->

  <div class="actions">
    <input class="btn btn-primary success share" name="commit" type="submit" value="Submit">
  </div>


  <script>
    // Set up preview.
    $('#url').preview({
      key:'5967548e8a8647ffa7e67c42e7ff2ffa',
      bind:false,
      error: function(obj){
        alert('The URL you entered was not processed.');
      },
      success : function(obj){
        $('.attach').remove();
        $('.success').addClass('success-active');
      }
    })
     
    // When a use hits Attach, trigger a preview of the link.
    $('.attach').on('click', function(){$('#url').trigger('preview')});
     
    // On submit add hidden inputs to the form.
    $('form').on('submit', function(){
      $(this).addInputs($('#url').data('preview'));
      return true;
    });
  </script>

  <script>
    $(".success").click(function() {
    $('html,body').animate({
        scrollTop: $(".share").offset().top},
        'slow');
    });
  </script>

<% end %>
