<%= bootstrap_form_for(@link) do |f| %>

  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- EMBEDLY INTEGRATION -->

      <input id="url" type="text" name="url"/>
   
      <!-- Placeholder that tells Preview where to put the selector-->
      <div class="selector-wrapper"></div>

  <!-- END OF EMBEDLY -->

  <div class="actions">
    <%= f.submit %>
  </div>


  <script>
    // Set up preview.
    $('#url').preview({key:'5967548e8a8647ffa7e67c42e7ff2ffa'})
 
    // On submit add hidden inputs to the form.
    $('form').on('submit', function(){
      $(this).addInputs($('#url').data('preview'));
      return true;
    });
  </script>

<% end %>
