<%= bootstrap_form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="submit-web">
    <input class="submit-web-input" type="url" name="link[image]" id="link_image" placeholder="http://">
    <img id="submit-web-image" src=""/>
  </div>

  <div class="submit-web-actions">
    <div class="field">
      <input class="form-control" type="text" name="link[title]" id="link_title" placeholder="Enter Title">
    </div>

    <div class="field">
      <input class="form-control" type="text" name="link[url]" id="link_url" placeholder="Purchase URL">
    </div>

    <div class="field">
      <input class="form-control" type="text" name="link[tags]" id="link_tags" placeholder="#addsometags">
    </div>



    <div class="actions">
      <input type="submit" name="commit" value="Create Link" class="btn btn-default success">
    </div>

  </div>



  <script>
    $('#link_image').on('paste', function () {
      var element = this;
      setTimeout(function () {
        var text = $(element).val();
        var image = $('#submit-web-image')
        $( image ).attr( "src", text );
        $( image ).css( "opacity", "1" );
        $( element ).css( "display", "none" );
        $('.submit-web-actions' ).css( "display", "block" ); 
      }, 100);
    });
  </script>

<% end %>
