<div class="container-fluid new-product">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 white-background">

			<div class="row">
				<div class="col-md-6 product-image">
						<img class="img-responsive" src="<%= @link.image %>"/>
				</div>

				<div class="col-md-6">
					<h1><%= @link.title %></h1>
				</div>
			</div>


		</div>
	</div>

</div>