@import "bootstrap";

html {
	-webkit-font-smoothing: antialiased;
}

body { 
	text-rendering: optimizeLegibility;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
  padding-top: 62px;
}

.container-fluid {
	padding-left: 21px;
	padding-right: 21px;
}

.header
{
	padding:0px;
	background:#f5f5f5;
}

.header .row
{
	padding:60px 0px;
}

.header h1
{
	padding-bottom:20px;
}

.login-menubar
{
	cursor:pointer;
}


h1
{
	font-size: 24px;
	color: #313131;
	line-height: 42px;
	padding:0px 0px;
	font-weight: 400;
	margin:0px;
}

.main-content .header p
{
	padding:20px 0px;
	margin:0px;
}


h2
{
	font-size: 26px;
	color: #5B5B5B;
	line-height: 27px;
	padding:30px 20px;
	font-weight: 400;
	margin:0px;
}

p
{
	color:#A4A4A4;
}

.brand-container
{
	width:21px;
	height:26px;
	background-image:image-url("logo.png");
}


.product-count
{
	float:left;
	padding-top:36px;
}

.container-fluid
{
	padding-left: 30px;
	padding-right: 30px;
}

.main-content {
	padding-top:40px;
	padding-left: 0px;
	padding-right: 0px;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

.navbar
{
	background:#222222;
	border-bottom: none;
	border-top:none;
	border-left:none;
	border-right:none;
	margin-bottom: 0px;
	border-radius: 0px;
}


.navbar-nav > li > a {
	padding: 21px 20px;
	font-weight: 600;
	font-size: 15px;
	color: #FFF;
	font-family: 'proxima-nova','Helvetica Neue', Arial, sans-serif;
}

.navbar-default .navbar-nav > li > a
{
	color:#FFF;
}

.navbar-default .navbar-nav > li > a:hover
{
	color:#aaaaaa;
}


.navbar-brand {
	float: left;
	padding: 18px 20px;
	font-size: 14px;
	line-height: 20px;
	height: 62px;
	font-weight: 500;
}

.coming-soon
{
	font-size:11px;
	font-weight: bold;
	background:#000;
}

.submit-special button
{
	color:#fff;
	font-weight: 900;
	background-color:#22A5F4;
	border:none;
	padding:9px 19px;
}

.submit-special a
{
	padding:12px !important;
}


.nav-button-custom a
{
	padding:10px !important;
}

.nav-button-custom a .btn
{
	padding:8px 14px;
}

.nav-avatar-custom
{
	padding:13px 0px !important;
}

.nav-button-custom .btn
{
	font-weight:600;
	border:none;
	border-radius: 3px;
	font-size: 14px;
	margin-top: 7px;
	margin-bottom:7px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	background:transparent;
}


.avatar
{
	height:38px;
	width:38px;
}

.avatar img
{
	border-radius: 3px;
}

.alert
{
	padding:0px;
	margin:0px;
	border:none;
}

.notice, #notice
{
	padding:0px;
	margin:0px;
}

.google
{
	background:#000 !important;
}

.facebook
{
	background:#EEE;
}

/* START OF WIDGET / LINK STYLES */

.item
{
	position:relative;
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
	z-index:1;
}

.link-image
{
   opacity: 1;
   transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}


.item:hover .link-image
{
	opacity:0.1;
}

.hover-info
{
	opacity:0;
	z-index:999;
	height:50px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.hover-info a
{
	text-decoration: none;
}

.item:hover .hover-info
{
	opacity:1;
}


.item .hover-avatar
{
	width:50px;
	height:50px;
	display: inline-block;
	margin-left:-4px;
}

.item .hover-score
{
	width:50px;
	height:50px;
	background:#22A5F4;
	display: inline-block;
	vertical-align: top;
}

.item .hover-score .hover-actual-score
{
	padding: 14px 0px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.item .hover-score .hover-plus-score
{
	display:none;
	padding: 2px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

.item .hover-score:hover .hover-actual-score
{
	display:none;
}

.item .hover-score:hover .hover-plus-score
{
	display:block;
}

.item .hover-basket
{
	width:50px;
	height:50px;
	background:#222222;
	display: inline-block;
	margin-left:-4px;
	vertical-align: top;
}

.item .hover-basket:hover
{
	background:#000;
}

.item .hover-basket .hover-cart
{
	font-size:17px;
	color:#fff;
	padding:12px 12px 12px 10px;
}



/* MODAL CHANGES */

.modal-dialog {
	margin: 70px auto;
}

.modal-sm h1
{
	font-size: 26px;
	color: #313131;
	line-height: 27px;
	padding:36px 20px 10px 20px;
	font-weight: 500;
	margin:0px;
}

.modal-sm p
{
	padding:20px 65px;
	font-size: 15px;
}

.modal-sm {
	width: 600px;
}

.sign-in-button
{
	margin:auto;
	padding:15px 32px;
	margin-top:15px;
	margin-bottom:35px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	color:#fff;
	border:none;
}

.sign-in-button:hover
{
	color:#fff;
}

.sign-in-button .fa-2x 
{
	font-size: 1.8em;
	float:left;
	padding-right: 14px;
}

.sign-in-with-twitter
{
	background-color:#4099FF;
	border:none;
	margin-right:15px;
}

.sign-in-with-twitter:hover
{
	background-color: #1175E7;
}

.sign-in-with-facebook
{
	background-color: #3D62B3;
}

.sign-in-with-facebook:hover
{
	background-color: #335795;
}

.sign-in-with-instagram
{
	
}

.form-group
{
	padding:10px 0px;
}


.new-product
{
	background:#eee;
}

.new-product-wrapper
{
	background:#fff;
}

/* CHANGING EMBEDLY STYLES */

.thumb {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  width: 100%; }


  .thumb .items {
    position: relative;
    overflow: hidden;
    padding: 0px;
    height: 500px;
    width: 100%; }
    .thumb .items .images {
      position: absolute;
      width: 300em;
      margin: 0px;
      padding: 0px;
      left: 0px; }
      .thumb .items .images li {
        list-style: none;
        float: left;
        margin: 0px;
        padding: 0px;
        max-width: 500px;
        height: 500px; }
      .thumb .items .images img {
        width: 300px;
        height: 500px; }
  .thumb .controls {
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    height: 16px;
    z-index: 1;
    background-color: #222;
    opacity: 0.5; }
    .thumb .controls .left, .thumb .controls .right, .thumb .controls .nothumb {
      display: block;
      position: absolute;
      top: 2px;
      color: #fff; }
      .thumb .controls .left:hover, .thumb .controls .right:hover, .thumb .controls .nothumb:hover {
        text-decoration: none; }
    .thumb .controls .nothumb {
      right: 2px;
      font-weight: bold;
      top: 1px; }
    .thumb .controls .left {
      left: 2px; }
    .thumb .controls .right {
      left: 16px; }
  .thumb .nothumb {
    right: 2px;
    font-weight: bold;
    top: 1px; }

.selector {
  margin: 10px auto;
  position: relative;
  min-height: 85px; }
  .selector input {
    width: 420px; }
  .selector textarea {
    width: 420px;
    margin: 5px 0; }
  .selector .media iframe, .selector .media object, .selector .media embed, .selector .media img {
    margin: 10px auto;
    display: block; }
  .selector .media img {
    max-width: 500px; }
  .selector .attributes a {
    text-decoration: none; }
    .selector .attributes a.title:hover, .selector .attributes a.description:hover {
      text-decoration: none;
      background-color: #FFF6D9; }
    .selector .attributes a.description {
      color: #000; }
    .selector .attributes a.title {
      margin: 0 0 5px;
      display: block; }
  .selector .attributes .meta {
    display: block; }
    .selector .attributes .meta .favicon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0 3px 0 0; }
  .selector .action {
    position: absolute;
    top: 0;
    right: 0;
    display: none; }

.loading {
  display: none; }
  .loading img {
    display: block;
    margin: 10px auto; }


  .item.video .media iframe, .item.video .media object, .item.video .media embed, .item.video .media img, .item.rich .media iframe, .item.rich .media object, .item.rich .media embed, .item.rich .media img, .item.photo .media iframe, .item.photo .media object, .item.photo .media embed, .item.photo .media img {
    margin: 10px auto;
    display: block; }
  .item.video .media img, .item.rich .media img, .item.photo .media img {
    max-width: 560px; }
  .item.video .title, .item.rich .title, .item.photo .title {
    margin: 10px 0;
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    color: #333; }
  .item .status {
    line-height: 1.2em;
    margin: 10px 0;
    padding: 5px; }
  .item .thumbnail {
    margin: 10px 10px 10px 5px;
    width: 105px;
    float: left; }
    .item .thumbnail a {
      display: table-cell;
      width: 100px;
      height: 75px;
      overflow: hidden;
      background-color: #DDD;
      vertical-align: middle;
      position: relative;
      text-align: center; }
    .item .thumbnail img {
      max-width: 100px;
      vertical-align: middle;
      max-height: 75px; }
    .item .thumbnail.video .overlay, .item .thumbnail.rich .overlay {
      background-image: url(../images/play.png);
      width: 26px;
      height: 25px;
      position: absolute;
      right: 5px;
      bottom: 5px; }
  .item .attributes {
    background-color: #EFEFEF;
    padding: 5px; }
  .item .meta {
    display: block; }
    .item .meta .favicon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0 3px 0 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
