@import "bootstrap";

html {
	-webkit-font-smoothing: antialiased;
}

body { 
	text-rendering: optimizeLegibility;
}

h1
{
	font-size: 22px;
	color: #5B5B5B;
	line-height: 27px;
	padding:30px 20px;
	font-weight: 400;
	margin:0px;
}

h2
{
	font-size: 26px;
	color: #5B5B5B;
	line-height: 27px;
	padding:30px 20px;
	font-weight: 400;
	margin:0px;
}

p
{
	color:#A4A4A4;
}

.container-fluid
{
	padding-left: 30px;
	padding-right: 30px;
}

.main-content
{
	padding-left: 14px;
	padding-right: 14px;
}

.navbar
{
	background:#fff;
	box-shadow: 0px 1px 0px 0px #F2F2F2;
	border:none;
}


.navbar-nav > li > a {
	padding: 25px 20px;
	font-size:14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#999999;
	font-weight: 500;
	letter-spacing:0.01em;
}

.navbar-default .navbar-nav > li > a
{
	color:#8D8D8D;
}


.navbar-brand {
	float: left;
	padding: 23px 20px;
	font-size: 14px;
	line-height: 20px;
	height: 70px;
	font-weight: 500;
}

.submit-special a
{
	color:#22A5F4 !important;
	font-weight: bold !important;
}

.submit-special a:hover
{
	color:#0882CC !important;
}


.nav-button-custom a
{
	padding:10px !important;
}

.nav-button-custom a .btn
{
	padding:8px 14px;
}

.nav-avatar-custom
{
	padding:20px 0px !important;
}

.nav-button-custom .btn
{
	font-weight:600;
	border:none;
	border-radius: 0px;
	font-size: 13px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	background:transparent;
}


.avatar
{
	height:30px;
	width:30px;
}

.alert
{
	padding:0px;
	margin:0px;
	border:none;
}

.notice, #notice
{
	padding:0px;
	margin:0px;
}

.google
{
	background:#000 !important;
}

.facebook
{
	background:#EEE;
}

/* START OF WIDGET / LINK STYLES */

.item
{
	position:relative;
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
	z-index:1;
}

.item:hover img
{
	opacity:0.5;
}

.hover-info
{
	position: absolute;
	opacity:0;
	right:0;
	top:0;
	background:#000;
	z-index:999;
}

.item:hover .hover-info
{
	opacity:1;
}








